.Header {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.HeaderText {
  font-size: 50px;
}

.BunkImage {
  width: 75px;
}

.Home {
  text-align: center;
}

.Navigation {
  text-align: center;
}

.linkStyles {
  display: inline-block;
  width: auto;
  padding: 12px;
  margin: 0 6px 6px;
  background-color: blue;
  text-decoration: none;
  color: white;
}

.activeLinkStyles {
  background-color: red;
}

.GameSearch {
  text-align: center;
}

.gameInput {
  width: 50%;
  margin-bottom: 20px;
}

.mainSearch {
  border: 1px black solid;
  text-align: center;
  width: 70%;
  margin: auto;
}

.GameCard {
  border: solid black;
  border-radius: 25px;
  text-align: center;
  word-break: break-word;
  padding-left: 5px;
  padding-right: 5px;
}

.GameStorage {
  display: grid;
  padding: 12px;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: min-content;
}

.GameCard img {
  width: 150px;
  height: auto;
}

.GameCard button {
  margin-bottom: 15px;
}

.searchTitle {
  margin-bottom: 8px;
}

.Stores {
  text-align: center;
}

.StoreCard {
  border: solid black;
  border-radius: 25px;
  text-align: center;
  word-break: break-word;
  padding-left: 5px;
  padding-right: 5px;
}

.StoreCard button {
  margin-bottom: 10px;
}

.StoreContainer {
  display: grid;
  padding: 12px;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: min-content;
}

.StoreImage {
  max-width: 120px;
} 

.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.GameDeal {
  text-align: center;
}

.GameDeal h1 {
  font-size: 60px;
  margin-bottom: 3px;
}

.GameDeal h3 {
  margin-top: 3px;
}

.Deals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  padding-top: 12px;
}

.Deal {
  border: solid black;
  border-radius: 15px;
  padding: 10px;
}

.Deal img {
  width: 200px;
}

.Favorites {
  text-align: center;
}